*{
    margin:0px;
    text-align: center;
}
h3 {
 color:white;
 background-color:black;
 height:5rem;
 text-align:center;
 border-radius:50px solid;
 text-size-adjust:60px;
 line-height:5rem;
}
.choice{
 height:200px;
 width:200px;
 display: flex;
 justify-content: center;
 
}

img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50px;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
  
}
.choice:hover{
    opacity:0.5 ;

}
.choice{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.score-board{
    margin-top:30px;
    display: flex;
    justify-content: center;
    font-size:2rem;
    text-align: center;
    gap:4rem;
}

.msg-container{
    margin-top:2rem;
}
#msg{
    
    font-size:20px;
    justify-content: center;
    border-radius:15rem ;
    background-color: black;
    color:white;
    display:inline; /*in striaght line */
    padding:1rem;
   
}
